.obsidian/plugins/digitalgarden/data.json
.obsidian/plugins/todoist-sync-plugin 
.obsidian/todoist-token
.obsidian/plugins/github-copilot/data.json
98\ Private
.obsidian/workspace.json
*/*.DS_Store
