.HyperMD-header.HyperMD-header-1{
	 text-align: center; 
} /* PREVIEW MODE */ 
.markdown-preview-view h1 {
 text-align: center; 
}
.mod-footer .embedded-backlinks .backlink-pane > .tree-item-self {
	&:first-of-type::before {
		content: "Links to this note";
	}
	
	&:nth-of-type(3)::before {
		content: "Possible connections";
	}
	
	&::before {
		font-size: var(--h2-size);
	}
	
	> :is(.tree-item-inner, .tree-item-flair-outer) {
		display: none;
	}
}

.mod-footer .backlink-pane .search-results-children {
	display: flex;
	flex-wrap: wrap;
}

.mod-footer .backlink-pane .tree-item.search-result {
	width: 49%;
	> .tree-item-self {
		font-size: var(--font-ui-large);
		font-weight: var(--font-medium);
		padding-left: var(--size-4-3);
		> :is(.tree-item-icon, .tree-item-flair-outer) {
			display: none;
		}
	}
	> .search-result-file-matches {
		box-shadow: none;
		font-size: var(--text-normal);
		& .search-result-file-matched-text {
			background-color: unset;
			color: var(--text-accent);
		}
	}
